<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:value="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css//main.css">
    <link rel="stylesheet" href="../css/qna.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="stylesheet" href="../css/result.css">
    <title>Title</title>

    <style>
        .errorBlue{
            color: #005cbf;
        }
        table{
            border-spacing: 20px;
            border-collapse: separate;
        }
        #viewTable{
            width: 40%;
            display: inline-block;
            margin-left: 120px;
            margin-top: 30px;
        }
    </style>
</head>

<body>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="container">
    <section id="main" class="ml-3 my-5 py-5 px-3">
        <h1>십이간지로 알아보는 연애유형</h1>
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <img src="../img/eodeoddl.jpg" alt="mainImage" class="img-fluid">
        </div>
        <p>
            나만의 MBTI 사이트입니다! <br>
            아래 시작하기 버튼을 눌러 시작해 주십시오.
        </p>
        <button type="button" class="btn btn-outline-danger mt-3" onclick="js:begin()">시작하기</button>
    </section>

  <div style="position: absolute; right: 0px; top: 0px;  width:700px;">
    <table  id="viewTable" class="table table-striped" >
        <thead>
        <tr>
            <th>순위</th>
            <th>이름</th>
            <th>조회수</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="srt : ${sorted}">
            <td th:text="${srtStat.count}"></td>
            <td th:text="${srt.getTestName()}"></td>
            <td th:text="${srt.getView()}"></td>
        </tr>
        </tbody>
    </table>
  </div>

    <section id="qna" class="ml-3 my-5 py-5 px-3">
        <div class="status  mt-5">
            <div class="statusBar">
            </div>
        </div>

        <div class="qBox my-5 py-3 ">

        </div>
        <div class="answerBox">

        </div>
    </section>

    <section id="result" class="ml-3 my-5 py-5 px-3">
        <h1>당신의 결과는?!</h1>
        <div class="resultname">

        </div>
        <div id="resultImg" class="my-3 col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">

        </div>
        <div class="resultDesc">

        </div>
        <div id="SharePopup" class="popup-layer">
            <div class="box-share-sns">
              <button type="button" onClick="sendLinkCustom();" value="Custom"
                      class="kakao mt-3 py-2 px-3" >공유하기</button>
            </div>

            <div class="share-url">
                <input type="text" id = "ShareUrl" >
                <span class="btn-type1"><button OnClick="javascript:CopyUrlToClipboard()">URL 복사</button></span>
            </div>
        </div>

    </section>

</div>
<h3 th:text="${testName}"> thymeleaf 테스트 이름 표시 오류</h3>

<hr>

<div th:if="${session.userSession != null}">
    <input type="button"  th:value="|세션 활성화 ${session.userSession} 안녕|" value="세션 활성화">
</div>
<form id="comment"  method="post" th:if="${session.userSession!=null}">
    <textarea cols="25" rows="5" id="textBox" name="textBox" placeholder="댓글 입력"></textarea>
    <button type="button" onclick="addComment()"> 댓 글 등 록 </button>
    <input type="hidden" id="userName" name="userName" th:value="${session.userSession}" value="세션 만료 오류">
</form>

<form id="noSession"  method="post" th:if="${session.userSession==null}">
    <textarea cols="25" rows="5" id="" name="" placeholder="세션이 없어요. 로그인해 주세요." disabled="disabled">
    </textarea>
</form>

<hr>

<strong th:text="${authError}" class="errorBlue"></strong>
<strong id="likeError" class="errorBlue" style="display: none;">likeError</strong>

<form  id="commentUpdate"  method="post"  hidden="hidden" th:if="${session.userSession!=null}">
    <input type="text"  cols="25" rows="5" id="textBoxU" name="textBoxU" placeholder="댓글 수정"></textarea>
    <button type="button" onclick="updateComment()"> 댓글 수정 </button>
    <input type="hidden" id="userNameU" name="userNameU" th:value="${session.userSession}" value="세션 만료 오류">
    <input type="hidden" id="commRow" name="commRow" value="">
    <input type="hidden" id="commId" name="commId" value="">
</form>

<table id="userList" >
    <tr>
        <td>댓글 식별자</td>
        <td>이름</td>
        <td>내용</td>
        <td>좋아요</td>
        <td>소속 테스트 식별자(pathVar)</td>
        <td>수정</td>
        <td>삭제</td>
        <td></td>
    </tr>
    <tr th:each="co : ${comments}" >
        <td th:text="${co.id}" ></td>
        <td th:text="${co.commentData.userName}"></td>
        <td th:text="${co.commentData.content}"></td>
        <td><button th:onclick="|addLike(${coStat.index})|" type="button"  th:text="${co.commentData.likes}">
                </button> </td>
        <td th:text="${co.testEntity.id}"></td>
        <td><button type="button"  th:onclick="|showUpdateArea(${coStat.index})|">수정</button> <input type="hidden"
                           th:id="|commentIndexUpdate${coStat.index}|"
                           name="commentIndexUpdate" id="commentIndexUpdate" th:value="${coStat.index}"></td>
        <td><button type="button"  th:onclick="|deleteComment(${coStat.index})|">삭제</button> <input type="hidden"
                           name="commentIndexDelete" id="commentIndexDelete" th:value="${coStat.index}"> </td>
    </tr>
</table>
<script src="../js/data.js" charset="utf-8"></script>
<script src="../js/start.js" charset="utf-8"></script>

<script>
    function addComment() {
        let form = document.getElementById("comment");

        let url = window.location.href+"/addComment";
        form.setAttribute("action", url)

        let name = document.getElementById("userName");
        form.submit();
    }
    function showUpdateArea(index){ // 수정버튼을 눌렀을 때
        let form = document.getElementById("commentUpdate");
        form.removeAttribute("hidden"); // 가린거 드러내기
        let userList = document.getElementById('userList');
        /**
         * hidden 속성 엘리먼트에 행값 숨겨넣기
        */
        let indexElement = document.getElementById("commRow");
        indexElement.setAttribute("value", index);
    }
    function updateComment(){
        // TextArea쪽에서 post form 가져옴
        let form = document.getElementById("commentUpdate")
        let url = window.location.href+"/updateComment";
        let userList = document.getElementById('userList');
        let index = document.getElementById("commRow").value;
        index++;
        let commentId = userList.rows[index].cells[0].innerText;  // 행값 index에 해당하는 댓글ID값

        let commId = document.getElementById("commId");
        commId.setAttribute("value", commentId);
        form.setAttribute("action", url);

        form.submit();
    }

    function deleteComment(index){
        /**  Form.과 Input.을 직접 만들어 제출. Input  type="hidden"에는 row Index
         */
        let form = document.createElement("form");
        let input = document.createElement("input");
        let url = window.location.href+"/deleteComment";
        let userList = document.getElementById('userList');
        index++;
        let commentId = userList.rows[index].cells[0].innerText;  // 행값 index에 해당하는 댓글ID값
        form.setAttribute("method", "post");
        form.setAttribute("action", url);
        input.setAttribute("type", "hidden");
        input.setAttribute("value", commentId); input.setAttribute("name", "commentId");
        form.appendChild(input);
        document.body.appendChild(form);

        form.submit();
    }

</script>
<!-- Layer POPUP -->  <!--  display none -->

<!-- Layer POPUP -->
<script type="text/javascript">
    function sendLinkCustom() {
        Kakao.init("a19b5bbf9d8a077d08e6f4ab324883fb");
        Kakao.Link.sendCustom({
            templateId: 58910
        });
    }
</script>
<script>
    function CopyUrlToClipboard() {
        var obShareUrl = document.getElementById("ShareUrl");
        obShareUrl.select();  // 해당 값이 선택되도록 select() 합니다
        document.execCommand("copy"); // 클립보드에 복사합니다.
        obShareUrl.blur(); // 선택된 것을 다시 선택안된것으로 바꿉니다.
        alert("URL이 클립보드에 복사되었습니다");
    }
</script>
<script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="../js/like2.js" charset="utf-8"></script>

</body>
