<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>최근 방문 테스트</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
<!--헤더 삽입-->
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<table class="type11">
    <thead>
    <tr>
        <th>테스트명</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="test : ${recentTest}">
        <td>
                <a th:href="${test.recentTestUrl}" th:text="${test.recentTestName}"></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>