<html>
<head>
    <link rel="shortcut icon" href="#" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> 웹페이지 </title>
    <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>

<body>
<img src="img/eodeoddl.jpg" alt="멍댕이" width="400px" height="300px">
<script type="text/javascript">
    function sendLinkCustom() {
        Kakao.init("a19b5bbf9d8a077d08e6f4ab324883fb");
        Kakao.Link.sendCustom({
            templateId: 58910
        });
    }
</script>

<span class="btn-close-layer"><button OnClick="javascript:ManagePopup('SharePopup','열기')">열기</button></span>
    <a href="/user/new"> 회원가입하기</a>
<hr>
<a href="/test/1">1번</a> <a href="/test/2"> 2번</a><p>
<a href="/test/3">3번</a> <a href="/test/4"> 4번</a>
<hr>
<a href="/users"> User 목록 </a> ★★★★

<a th:href="'javascript:autoGenerate('+')'"
   href="#"
   class="btn btn-danger">테스트용 유저 DB / 댓글 생성</a>


<div th:if="${session.userSession != null}">
    <input type="button"  th:value="|세션 활성화 ${session.userSession} 안녕|" value="세션 활성화">
</div>

<!-- Layer POPUP -->  <!--  display none -->
<div id="SharePopup" class="popup-layer" style="display:none;margin-top:20%;">
        <h1 class="title">공유하기</h1>
        <span class="btn-close-layer"><button OnClick="javascript:ManagePopup('SharePopup','닫기')">닫기</button></span>

        <div class="box-share-sns">
            <button type="button" onClick="sendLinkCustom();" value="Custom">
                <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
            </button>
        </div>

        <div class="share-url">
            <input type="text" id = "ShareUrl">
            <span class="btn-type1"><button OnClick="javascript:CopyUrlToClipboard()">URL 복사</button></span>
        </div>
</div>
<!-- Layer POPUP -->
<script>

function ManagePopup(sPopupId, sCase) {
    if ( sCase == "닫기" ) {
    document.getElementById(sPopupId).style.display = "none";
        }
    else if ( sCase == "열기" ) {
        document.getElementById(sPopupId).style.display = "";
        var obShareUrl = document.getElementById("ShareUrl");
        obShareUrl.value = window.document.location.href;  // 현재 URL 을 세팅해 줍니다.
    }
}
function CopyUrlToClipboard() {
    var obShareUrl = document.getElementById("ShareUrl");
    obShareUrl.value = window.document.location.href;  // 현재 URL 을 세팅해 줍니다.
    obShareUrl.select();  // 해당 값이 선택되도록 select() 합니다
    document.execCommand("copy"); // 클립보드에 복사합니다.
    obShareUrl.blur(); // 선택된 것을 다시 선택안된것으로 바꿉니다.
    alert("URL이 클립보드에 복사되었습니다");
}
</script>
<script>
    function autoGenerate() {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/generatedata");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>