<html xmlns:th="http://www.thymeleaf.org" xmlns:text="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/img/title-icon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>심리테스트 Who Am I</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/search.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<body>
    <div class="content">
        <header class="header">
            <div class="logo" style="display:inline;">
                <a href="javascript:history.go(0);">
                    <img src="/img/logo.png" width="180px" height="60px">
                </a>
            </div>
            <ul class="user">
                <a href="/user/login" th:if="${session.userSession==null}" th:object="${loginFormDTO}">로그인</a>
                <a th:if="${session.userSession != null}" th:text="로그아웃" value="로그아웃"
                   onclick="logout()"></a> |
                <a th:if="${session.userSession != null}" value="수정"
                   href='/user/myPage'> 내 정보 수정</a>
                <a href="/user/new" th:if="${session.userSession==null}"> 회원가입하기 |</a>
                <a href="/user/findPwd_id" th:if="${session.userSession==null}"> 비밀번호 찾기</a>
            </ul>
        </header>
        <!--main section START-->
        <div class="section">
            <div>
                <ul th:each="test: ${testPage}">
                    <li style=" float: left;">
                        <div class="section_content">
                        <a th:href="|/test/${test.id}|">
                            <img class="test_image" th:src="|../img/image-${test.id}.png|" style="margin-left: 20px;"/> </a>
                        <div class="test_name" th:text=" ${test.testName}" style="text-align: center"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--main section END-->

<!--            <div style="display: inline-block;">-->
<!--                <table width="350" height="200" font-size="200" style="font-size: 25px; color: blue">-->
<!--                    <thead>-->
<!--                    <th>테스트 번호</th>-->
<!--                    <th>테스트 이름</th>-->
<!--                    <th>테스트 분야</th>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="test : ${tests}" align="center">-->
<!--                        <td th:text=" ${test.id}">1</td>-->
<!--                        &lt;!&ndash;td에 바로 링크넣기 불가능&ndash;&gt;-->
<!--                        <td>-->
<!--                            <a th:href="|/test/${test.id}|">-->
<!--                                <div th:text=" ${test.testName}"></div>-->
<!--                            </a>-->
<!--                        </td>-->

<!--                        <td th:text=" ${test.testType}">3</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->


<!--aside start-->
        <div class="aside">
            <div style="float:right;">
<!--                <form  action="/user/login" method="post" style="border: solid 1px;margin-block-end:0;background:aquamarine;"-->
<!--                       th:if="${session.userSession==null}" th:object="${loginFormDTO}">-->
<!--                    <div>-->
<!--                        <label th:for="name">ID</label>-->
<!--                        <input type="text" th:field="*{userName}" placeholder="id 입력" >-->
<!--                        <b th:text="${idError}"></b>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label th:for="password">password</label>-->
<!--                        <input type="password" th:field="*{password}"  placeholder="pwd 입력">-->
<!--                        <b th:text="${pwdError}"></b>-->
<!--                        <button type="submit" value="로그인하기">로그인</button>-->
<!--                    </div>-->
<!--                </form>-->
                <div class="search" style="border:solid 1px; background: #20c997">
                    <form class="form-inline d-flex justify-content-end" method="get" th:action="@{/}">
                        <div class="col-auto">
                            <label for="searchText" class="sr-only">검색</label>
                            <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-light mb-3" style="margin-top: 17px">제목 검색</button>
                        </div>
                    </form>
                        <!--
                          The default 'method', 'action' and
                           'enctype' of an HTML form, if they are not specified,
                           are GET, current URL and application/x-www-form-urlencoded respectively
                          -->
                    <form>
                        <label for="byType" style="font-size: 24px"> 주제로 찾기 </label>
                        <select id="byType" name="searchText">
                            <option value="">목록</option>
                            <option value="type1">type1</option>
                            <option value="type2">type2</option>
                            <option value="type3">type3</option>
                        </select>&nbsp;
                        <button type="submit" class="btn btn-light mb-3" style="margin-top: 17px">주제 검색</button>
                    </form>
                    <form method="post" action="/random">
                        <button type="submit" class="btn btn-light mb-3 rrr">랜덤 탐색</button>
                    </form>
                </div>
            </div>
        </div>
<!--aside END-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${1 == testPage.pageable.pageNumber+1} ? 'disabled' ">
                    <a class="page-link" href="#" th:href="@{/(page=${testPage.pageable.pageNumber - 1}, searchText=${param.searchText})}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>

                <li class="page-item" th:classappend="${i == testPage.pageable.pageNumber+1} ? 'disabled' " th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" href="#" th:href="@{/(page=${i-1}, searchText=${param.searchText})}" th:text="${i}">1</a>
                </li>

                <li class="page-item" th:classappend="${testPage.totalPages == testPage.pageable.pageNumber+1} ? 'disabled' ">
                    <a class="page-link" href="#" th:href="@{/(page=${testPage.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                </li>
            </ul>
        </nav>

        <div class="container" style="height: 100px; ">
            <br>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col" ahref="user/signup_page.html" onclick="signup_popup()">
                                <input class="form-control form-control-lg form-control-borderless" type="search" name="searchText">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                <!--end of col-->
            </div>
        </div>
        <div class="btn" style="width: 100%;">
            <a href="/test/3" class="button hashtag">#나는 내향인?외향인?</a>
            <a href="/test/1" class="button2 hashtag">#나도 혹시 스마트폰 중독?</a>
        </div>
<!--menu START-->
        <div class="menu" th:if="${session.userSession != null}">
            <div class="menu_btn">
            <button type="button"  th:text="|로그아웃|" value="로그아웃"
                    onclick="logout()"></button>
            <button type="button"  th:text="|내 정보 수정|" value="수정"
                    onclick="location.href='/user/myPage' "></button>
            <button type="button"  th:text="|최근 방문한 테스트|" value="수정"
                    onclick="location.href='/recentTest' "></button>
            </div>
        </div>
<!--menu END-->




        <div style="padding-bottom: 80px;">
            <hr style="clear: both;">
            <a href="/users"> User 목록 </a> ★★★★
            <a th:href="'javascript:autoGenerate()'"
               href="#"
               class="btn btn-danger">테스트용 유저 DB / 댓글 생성</a>

<!--            <div th:if="${session.userSession != null}">-->
<!--                <input type="button"  th:value="|세션 활성화 ${session.userSession} 안녕|" value="세션 활성화">-->
<!--            </div>-->

        </div>
        <footer class="footer">
            <span class="footer-logo">Who Am I </span>
            개발자 : 조성우, 정한결, 김소희, 임주헌 팀장 : 조성우
        </footer>
    </div>



<script>
    function autoGenerate() {
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/generateData");
        document.body.appendChild(form);
        form.submit();
    }

    function logout(){
        let form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/logout");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>